.listview {
    border: 1px solid gray;
    overflow: auto;
    z-index : 10;
    position: relative;
}

.listview ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.listview ul > li {
    margin: 0;
}

.listview .item {
    padding: 10px;
    border-bottom: 1px solid #909CAA;
    margin: 0;
}

.listview .item:active {
    background: blue;
    color: white;
}

.listview .item.group {
    background: #909CAA;
    background: linear-gradient(to top, #B6BFC8, #909CAA);
    color: white;
    font-weight: bold;
    padding: 0 0 0px 10px;
    text-shadow: 1px 1px 0 gray;
    opacity: 0.8;
}

.listview .item.group.absolute {
    position: absolute;
    z-index: 100;
}
    